.App-Container {
  background-color: silver; 
}

footer {
  background-color: maroon;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}